html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 97px;
  overflow-x: hidden; /* Prevent horizontal overflow if any */
}

/* AboutPage.css */

.about-us-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  width: 100%;
  overflow: hidden; /* Prevents content from overflowing */
}

.about-details {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-details h2 {
  margin-top: 40px; /* Add space above each section title */
}

.separation-line {
  width: 100%; /* Adjust width as needed */
  border-bottom: 3px solid teal; /* Adjust color and thickness as needed */
  margin: 40px auto; /* Center the line horizontally with top and bottom margin */
}

.text-center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.large-header {
  font-size: 30px; /* Adjust the font size as needed */
}
